@model BugTracker.Models.TicketsModel
@{
    ViewBag.Menu = "Tickets";
    ViewBag.Title = "Details";
    ViewBag.Message = "Ticket Details";
}
<section class="section colored-wrapper">
    <div class="container">
        <div class="wrapper-2">
            <div>
                <h4><span>@ViewBag.Message</span></h4>
                <hr />
                <div class="row">
                    <div class="col-md-2">
                        @Html.ActionLink("Back to List", "Index", new { @class = "text-right" })
                    </div>
                    <div class="col-md-7"></div>
                    @if (User.IsInRole("Admin")) {
                        <div class="col-md-3 text-right">
                            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = Model.Id })
                        </div>
                    }
                    else if (User.IsInRole("ProjectManager") || User.IsInRole("Developer")) {
                        <div class="col-md-3 text-right">
                            @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
                        </div>
                    }
                    else if (User.IsInRole("Submitter")) {
                        <div class="col-md-3 text-right">
                        </div>
                    }
                </div>
                <div class="container ticket-content">
                    <div class="row">
                        <div class="label text-right col-md-2">
                            @Html.DisplayNameFor(model => model.Title)
                        </div>
                        <div class="col-md-10">
                            @Html.DisplayFor(model => model.Title)
                        </div>
                    </div>
                    <div class="row">
                        <div class="label text-right col-md-2">
                            @Html.DisplayNameFor(model => model.Description)
                        </div>
                        <div class="col-md-10">
                            @Html.DisplayFor(model => model.Description)
                        </div>
                    </div>
                    @*@if (Model.Attachments != null) {
                        <div class="row">
                            <div class="label text-right col-md-2">
                                @Html.DisplayNameFor(model => model.Attachments)
                            </div>
                            <div class="col-md-10">
                                @Html.DisplayFor(model => model.Attachments.)
                            </div>
                        </div>
                        }*@
                    <div class="row">
                        <div class="label text-right col-md-2">
                            @Html.DisplayNameFor(model => model.Project.Name)
                        </div>
                        <div class="col-md-10">
                            @Html.DisplayFor(model => model.Project.Name)
                        </div>
                    </div>
                    <div class="row">
                        <div class="label text-right col-md-2">
                            @Html.DisplayNameFor(model => model.TicketPriority.Name)
                        </div>
                        <div class="col-md-10">
                            @Html.DisplayFor(model => model.TicketPriority.Name)
                        </div>
                    </div>
                    <div class="row">
                        <div class="label text-right col-md-2">
                            @Html.DisplayNameFor(model => model.TicketStatus.Name)
                        </div>
                        <div class="col-md-10">
                            @Html.DisplayFor(model => model.TicketStatus.Name)
                        </div>
                    </div>
                    <div class="row">
                        <div class="label text-right col-md-2">
                            @Html.DisplayNameFor(model => model.TicketType.Name)
                        </div>
                        <div class="col-md-10">
                            @Html.DisplayFor(model => model.TicketType.Name)
                        </div>
                    </div>
                    <div class="row">
                        <div class="label text-right col-md-2">
                            @Html.DisplayNameFor(model => model.CreatedDate)
                        </div>
                        <div class="col-md-10">
                            @Html.DisplayFor(model => model.CreatedDate)
                        </div>
                    </div>
                    <div class="row">
                        <div class="label text-right col-md-2">
                            @Html.DisplayNameFor(model => model.UpdatedDate)
                        </div>
                        <div class="col-md-10">
                            @Html.DisplayFor(model => model.UpdatedDate)
                        </div>
                    </div>
                    <div class="row">
                        <div class="label text-right col-md-2">
                            @Html.DisplayNameFor(model => model.OwnerUserId)
                        </div>
                        <div class="col-md-10">
                            @Html.DisplayFor(model => model.OwnerUser.DisplayName)
                        </div>
                    </div>
                    <div class="row">
                        <div class="label text-right col-md-2">
                            @Html.DisplayNameFor(model => model.AssignedToUserId)
                        </div>
                        <div class="col-md-10">
                            @Html.DisplayFor(model => model.AssignedToUser.DisplayName)
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">

                    <div class="post-comments">
                        <div class="col-md-12">
                            <form class="comment-form" role="form" enctype="multipart/form-data" method="post" name="AddAttachment" action="@Url.Action("AddAttachment", "Tickets")">
                                <input type="hidden" name="TicketId" value="@Model.Id" />
                                <input type="hidden" name="CommentUserId" value="@Model.CommentUserId" />
                                <input type="hidden" name="Author" value="" />
                                <h5 class="subpage-title">Add Attachment</h5>
                                <input name="file" type="file" class="form-control mediaUrl" id="fileUpload" />
                                @*<textarea type="text" name="Comment" class="form-control" rows="5" id="tinyMceEditor"></textarea>*@
                                <input type="submit" class="btn btn-flat flat-color" value="Add Attachment" />
                            </form>
                        </div>
                    </div>

                    @foreach (var attachment in Model.Attachments) {
                        <ul class="media-list">
                            <li class="media">
                                <div class="media-body">
                                    <h5 class="media-heading">
                                        @Html.DisplayTextFor(model => attachment.User.DisplayName)
                                        <span class="subText">Created: @attachment.CreatedDate.ToString("g") </span>
                                        <span>
                                            <a href="" class="jsCommentClass comment-reply pull-right"
                                               data-toggle="modal"
                                               data-target="#editComment"
                                               data-id="@attachment.Id"
                                               data-body="@attachment.FileUrl"
                                               data-updateddate="@attachment.UpdatedDate"
                                               data-updatedby="@attachment.UserId">Edit Attachment</a>
                                            <a href="" class="jsCommentClass comment-reply pull-right"
                                               data-toggle="modal"
                                               data-target="#deleteComment"
                                               data-id="@attachment.Id"
                                               data-body="@attachment.FileUrl"
                                               data-updateddate="@attachment.UpdatedDate"
                                               data-removedby="@attachment.UserId">Delete Attachment</a>
                                        </span>
                                    </h5>
                                    <div>@attachment.Description</div>
                                    <div class="formattedContent">@attachment.FileUrl</div>
                                </div>
                            </li>

                            @*<li class="media">
                                <div class="media-body">
                                    <h5 class="media-heading">
                                        @Html.DisplayTextFor(model => attachment.User.DisplayName)
                                        <span class="subText">Created: @attachment.CreatedDate.ToString("g") </span>
                                    </h5>
                                    <div class="formattedContent">@Html.Raw(attachment.FileUrl)</div>
                                </div>
                            </li>*@
                        </ul>
                    }

                    @if (Request.IsAuthenticated) {
                        <div class="post-comments">
                            <div class="col-md-12">
                                <form class="comment-form" role="form" method="post" name="AddComment" action="@Url.Action("AddComment", "Tickets")">
                                    <input type="hidden" name="TicketId" value="@Model.Id" />
                                    <input type="hidden" name="CommentUserId" value="@Model.CommentUserId" />
                                    <input type="hidden" name="Author" value="" />
                                    <h5 class="subpage-title">Add Comment</h5>
                                    <textarea type="text" name="Comment" class="form-control" rows="5" id="tinyMceEditor"></textarea>
                                    <input type="submit" class="btn btn-flat flat-color" value="Add Comment" />
                                </form>
                            </div>
                        </div>
                    }
                    else {
                        <div class="post-comments">
                            <div class="col-md-12">
                                <h5 class="subpage-title">Login to create a comment.</h5>
                            </div>
                        </div>
                    }
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <h5 class="subpage-title">
                                    @if (Model.Comments.Count == 1) {
                                        <span>(1) Comment </span>
                                    }
                                    else if (Model.Comments.Count >= 2) {
                                        <span>(</span>@Model.Comments.Count<span>) Comments </span>
                                    }
                                    else {
                                        <span>Comments </span>
                                    }
                                </h5>
                                

                                @foreach (var comment in Model.Comments) {

                                    if ((User.IsInRole("Admin") || User.IsInRole("Moderator"))) {
                                        <ul class="media-list">
                                            <li class="media">
                                                <div class="media-body">
                                                    <h5 class="media-heading">
                                                        @Html.DisplayTextFor(model => comment.User.DisplayName)
                                                        <span class="subText">Created: @comment.CreatedDate.ToString("g") </span>
                                                        <span>
                                                            <a href="" class="jsCommentClass comment-reply pull-right"
                                                               data-toggle="modal"
                                                               data-target="#editComment"
                                                               data-id="@comment.Id"
                                                               data-body="@comment.Comment"
                                                               data-updateddate="@comment.UpdatedDate"
                                                               data-updatedby="@comment.UserId">Edit Comment</a>
                                                            <a href="" class="jsCommentClass comment-reply pull-right"
                                                               data-toggle="modal"
                                                               data-target="#deleteComment"
                                                               data-id="@comment.Id"
                                                               data-body="@comment.Comment"
                                                               data-updateddate="@comment.UpdatedDate"
                                                               data-removedby="@comment.UserId">Delete Comment</a>
                                                        </span>
                                                    </h5>
                                                    <div class="formattedContent">@Html.Raw(comment.Comment)</div>
                                                </div>
                                            </li>
                                        </ul>
                                    }
                                    else {

                                        <ul class="media-list">
                                            <li class="media">
                                                <div class="media-body">
                                                    <h5 class="media-heading">
                                                        @Html.DisplayTextFor(model => comment.User.DisplayName)
                                                        <span class="subText">Created: @comment.CreatedDate.ToString("g") </span>
                                                    </h5>
                                                    <div class="formattedContent">@Html.Raw(comment.Comment)</div>
                                                </div>
                                            </li>
                                        </ul>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="editComment" class="modal fade" role="dialog">
    <div class="modal-dialog numbersGame">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="post-comments">
                            <div class="col-md-12">
                                <form class="comment-form" role="form" method="post" action="@Url.Action("EditComment", "Tickets")">
                                    <input type="hidden" name="TicketId" value="@Model.Id" />
                                    <input type="hidden" id="commentUpdateId" name="Id" value="" />
                                    <input type="hidden" id="commentUpdatedById" name="UpdatedBy" value="" />
                                    <h5 class="subpage-title">Edit Comment</h5>
                                    <label>Comment Body: </label>
                                    <textarea type="text" id="commentUpdateBodyId" class="form-control tinyMceCommentEditor" name="Comment" value="" rows="5"></textarea>
                                    <input type="submit" class="btn btn-flat flat-color" value="Edit Comment" />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="deleteComment" class="modal fade" role="dialog">
    <div class="modal-dialog numbersGame">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="post-comments">
                            <div class="col-md-12">
                                <form class="comment-form" role="form" method="post" action="@Url.Action("DeleteComment", "Tickets")">
                                    <input type="hidden" name="TicketId" value="@Model.Id" />
                                    <input type="hidden" id="commentRemoveId" name="Id" value="" />
                                    <input type="hidden" id="commentRemovedById" name="RemovedBy" value="" />
                                    <input type="hidden" name="IsRemoved" value="true" />
                                    <h5 class="subpage-title">Delete Comment</h5>
                                    <label>Comment Body: </label>
                                    <textarea type="text" id="commentRemoveBodyId" class="form-control" name="Comment" value="" rows="5"></textarea>
                                    <input type="submit" class="btn btn-flat flat-color" value="Delete Comment" />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        $('.jsCommentClass').click(function () {
            //Global comment variables
            $('#commentUpdateId').val($(this).attr('data-id'));
            $('#commentUpdateBodyId').val($(this).attr('data-body'));
            $('#commentRemoveId').val($(this).attr('data-id'));
            $('#commentRemoveBodyId').val($(this).attr('data-body'));
            $('#commentRemovedById').val($(this).attr('data-removedby'));
            $('#commentRemoveReasonId').val($(this).attr('data-removereason'));

            //Updated variables
            $('#commentUpdatedById').val($(this).attr('data-updatedby'));
            $('#commentUpdatedDateId').val($(this).attr('data-updateddate'));
            $('#commentUpdatedReasonId').val($(this).attr('data-updatedreason'));

        });
    </script>
}