@model IEnumerable<BugTracker.Models.TicketsModel>

@{
    ViewBag.Title = "Index";
}

<h2>List of Tickets</h2>

@if (!Request.IsAuthenticated) {
    <div>
        You are not logged in.  Please login or create an account.  
    </div>
} 
else { 


<p>
    @if (User.IsInRole("Admin")) {
        @Html.ActionLink("Create New Ticket", "Create")
    }
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Project)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TicketPriority)
        </th>  
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OwnerUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssignedToUser)
        </th>
        @if (User.IsInRole("Admin") || User.IsInRole("ProjectManager")) { 
        <th>
            Tools
        </th>
        }
    </tr>

@foreach (var item in Model) {
    
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Project.Name)
        </td>
       <td>
            @Html.DisplayFor(modelItem => item.TicketPriority.Name)
        </td>     
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OwnerUser.DisplayName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AssignedToUser.DisplayName)
        </td>
        @if (User.IsInRole("Admin") || User.IsInRole("ProjectManager")) { 
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.Id }) |*@
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
        }
    </tr>
}

</table>
}