@model IEnumerable<BugTracker.Models.ProjectsModel>

@{
    ViewBag.Title = "Projects";
}

<h2>Index</h2>


    @if (User.IsInRole("Admin")) {
        <p>
            @Html.ActionLink("Create New Project", "Create")            
        </p>
    }
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>Project Tools</th>
    </tr>

@foreach(var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>                        
            <a href="@Url.Action("Edit", "Projects", new { id = item.Id })">Edit |</a>            
            <a href="@Url.Action("Details", "Projects", new { id = item.Id })">Details |</a>
            @if (User.IsInRole("Admin")) {
                <a href="@Url.Action("Delete", "Projects", new { id = item.Id })">Delete</a>
            }
        </td>
    </tr>
}

</table>
